on: [push, pull_request]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: arduino/arduino-lint-action@v2
        with:
          # TODO: rever this to `library-manager: update` once published
          library-manager: false
          compliance: strict
